<!--
  Generated template for the AddTrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Új edzés létrehozása</ion-title>
  </ion-navbar>
  <ion-buttons end>
    <button ion-button clear (click)="addTraining()">Megosztás</button>
  </ion-buttons>
</ion-header>


<ion-content padding>
  <ion-row>
    <ion-item>
      <ion-label>Válassz csapatot</ion-label>
      <ion-select [(ngModel)]="selectedTeam">
        <ion-option *ngFor="let team of selectTeamList">{{ team }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-textarea rows="5" maxLength="500" placeholder="Info..." [(ngModel)]="info"></ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-label>Edzés tipusa</ion-label>
      <ion-select [(ngModel)]="selectedType">
        <ion-option>ONLINE</ion-option>
        <ion-option>OFFLINE</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>
</ion-content>
