<!--
  Generated template for the CompetitionEntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Versenyeid</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row style="text-align: right">
    <ion-col>
      <button ion-button float-right (click)="newCompetitionEntry()">Új verseny létrehozása</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 *ngFor="let competition of competitions">
      <ion-card>
        <ion-card-header style="border-bottom: 1px solid #c8c8c8;">
          <ion-card-title>
            <div style="font-size: 20px;">{{ maxLength(competition.name) }}</div>
            <div style="font-size: 16px; color: #333;">{{getNameOfTeam(competition.teamId)}}</div>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Időpont: {{ setDate(competition.date) }}</p>
          <p>Helyszin: {{competition.location}}</p>
          <p>Link: {{ competition.link }}</p>
          <p>Broadcast Link: {{ competition.broadcastLink }}</p>
          <p>Info: {{capitalize(competition.info)}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
