<!--
  Generated template for the EditMyprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Profil szerkesztése</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form (submit)="updateProfile()">
        <ion-list>
            <ion-item>
                <ion-label>Firstname</ion-label>
                <ion-input type="text" [(ngModel)]="myProfile.firstName" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Lastname</ion-label>
                <ion-input type="text" [(ngModel)]="myProfile.lastName" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Username</ion-label>
                <ion-input type="text" [(ngModel)]="myProfile.username" [ngModelOptions]="{standalone: true}" disabled></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input type="email" [(ngModel)]="myProfile.email" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Birthday</ion-label>
                <ion-input type="text" [(ngModel)]="myProfile.birthday" [ngModelOptions]="{standalone: true}" disabled></ion-input>
            </ion-item>
            <br>
            <ion-label>Your Games</ion-label>
            <ul *ngFor="let game of myProfile.gameDetails">
                <li>{{game.game.name}}</li>
                <ul *ngIf="hasTeamInGame(game.game)">
                    <li>{{ getTeamOfGame(game.game) }}</li>
                </ul>
            </ul>
            <br>
            <div padding>
                <button ion-button color="primary" block>Mentés</button>
            </div>
        </ion-list>
    </form>
</ion-content>
