<ion-header>

  <ion-navbar>
    <ion-title>Új hir létrehozása</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="submitNews()">Megosztás</button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row id="newcontent" *ngIf="myProfile !== null">
    <ion-col>
      <ion-item no-lines>
        <ion-avatar slot="start">
          <ion-img [src]="myProfile.profilePic"></ion-img>
        </ion-avatar>
      </ion-item>
      <div class="author">{{myProfile.lastName}} {{myProfile.firstName}}</div>
    </ion-col>
  </ion-row>
  <ion-row id="title">
    <ion-col col-12>
      <ion-input placeholder="Bejegyzés címe" [(ngModel)]="titleToSend"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row id="content">
    <ion-col col-12>
      <ion-textarea rows="5" maxLength="500" placeholder="Bejegyzés szövege..." [(ngModel)]="contentToSend"></ion-textarea>
    </ion-col>
  </ion-row>
<!--  <ion-row id="add-media-items">-->
<!--    <button ion-button color="dark" outline round>Add img</button>-->
<!--  </ion-row>-->
  <ion-row id="select-roles">
    <ion-item>
      <ion-label>Bejegyzés típusa</ion-label>
      <ion-select [(ngModel)]="selectedType">
        <ion-option *ngFor="let item of selectTypeList">{{ item }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>
  <ion-row id="select-games" *ngIf="(selectedType == 'Csapat' || selectedType == 'Játék') && selectedType != null">
    <ion-item>
      <ion-label>Játék</ion-label>
      <ion-select [(ngModel)]="selectedGame">
        <ion-option *ngFor="let item of selectGameList">{{ item }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>
  <ion-row id="select-teams" *ngIf="selectedType == 'Csapat' && selectedGame != null">
    <ion-item>
      <ion-label>Csapat</ion-label>
      <ion-select [(ngModel)]="selectedTeam">
        <ion-option *ngFor="let item of selectTeamList">{{ item }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>
</ion-content>
