page-newseditor {
  ion-content {
    #texteditor {
      ion-col ion-textarea {
        padding: 2%;
        border: 1px solid black;
      }
    }
  }
  ion-content {
    ion-row {
      ion-col {
        ion-item {
          background-color: transparent;
          max-width: 25%;
          display: inline-block !important;
          ion-avatar ion-img, ion-avatar ion-img img {
            width: 50px !important;
            height: 50px !important;
            border: 1px solid white;
          }
        }
        .author {
          display: inline-block;
          font-size: 16px;
          width: 70%;
          margin-top: -65px;
          vertical-align: middle;
        }
      }
    }
  }
}
