<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>Hirfolyam</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding style="background-color: #4d4d4d;">

    <ion-row id="newcontent">
        <ion-col col-3>
            <ion-item no-lines>
                <ion-avatar slot="start">
                    <ion-img [src]="myProfile.profilePic" (click)="goToMyProfile()"></ion-img>
                </ion-avatar>
            </ion-item>
        </ion-col>
        <ion-col col-9>
          <ion-buttons text-center>
            <button ion-button color="light" outline round (click)="addNews()">Írj hozzászólást...</button>
          </ion-buttons>
        </ion-col>
    </ion-row>
    <!--  <ion-row>-->
    <!--    <ion-col>-->
    <!--      <button ion-button (click)="localnotificationHandler()"></button>-->
    <!--    </ion-col>-->
    <!--  </ion-row>-->

    <ion-row>
        <ion-item class="selector">
            <ion-label>Hirfolyam szűrése</ion-label>
            <ion-select multiple="true" [(ngModel)]="selectedNewsTypes" (ionChange)="sortNews()" color="light">
                <ion-option *ngFor="let item of selectNewsTypes">{{ item }}</ion-option>
            </ion-select>
        </ion-item>
    </ion-row>
    <ion-row id="select-games"
             *ngIf="(selectedNewsTypes.indexOf('Csapat') > -1 || selectedNewsTypes.indexOf('Játék') > -1) && selectedNewsTypes != null">
        <ion-item class="selector">
            <ion-label>Játék</ion-label>
            <ion-select multiple="true" [(ngModel)]="selectedGames" (ionChange)="sortNewsByGame()">
                <ion-option *ngFor="let item of selectGameList">{{ item }}</ion-option>
            </ion-select>
        </ion-item>
    </ion-row>
    <ion-row id="select-teams" *ngIf="selectedNewsTypes.indexOf('Csapat') > -1 && selectedGames != null">
        <ion-item class="selector">
            <ion-label>Csapat</ion-label>
            <ion-select multiple="true" [(ngModel)]="selectedTeams" (ionChange)="sortNewsByTeam()">
                <ion-option *ngFor="let item of selectTeamList">{{ item }}</ion-option>
            </ion-select>
        </ion-item>
    </ion-row>

    <ion-row id="news">
        <ion-col col-12 *ngFor="let news of selectedNews">
            <ion-card style="width: 100%; margin: 0; padding: 3%;">
                <ion-card-title>
                    <ion-item no-lines>
                        <ion-avatar slot="start">
                            <ion-img [src]="news.authorPictureUrl" (click)="goToMyProfile()"></ion-img>
                        </ion-avatar>
                    </ion-item>
                    <div class="author" (click)="goToPlayerProfile(news.authorId)">{{news.authorName || 'admin'}}</div>
                    <div class="title">{{news.title}}</div>
                </ion-card-title>
                <ion-slides loop="true">
                    <ion-slide *ngFor="let img of news.pictureUrls">
                        <img [src]="img" alt="">
                    </ion-slide>
                </ion-slides>
                <ion-card-content>
                    <div>{{news.content}}</div>
                    <br>
                    <div style="text-align: right;">{{setDate(news.created)}}</div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>
