page-newsfeed {
  ion-content {

    background-image: url('../../../assets/img/bg-2.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    #newcontent {
      ion-col {
        display: table;
        button {
          display: table-cell;
          vertical-align: middle;
          width: 100%;
        }
      }
      ion-col {
        ion-item {
          background-color: transparent;
          padding-left: 0;
          ion-avatar ion-img, ion-avatar ion-img img {
            width: 60px !important;
            height: 60px !important;
            border: 1px solid white;
          }
        }
      }
    }
  }


  .selector {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 64px;
    color: white;
    ion-label {
      color: white !important;
    }
  }
  div.scroll-content {
    background-color: rgba(1,1,1,0.6);
  }
  #news ion-card {
    background-color: rgba(1,1,1,0.7);
    color: white !important;
    ion-card-title {
      color: white !important;
      div {
        font-size: 20px;
      }
      .author {
        display: inline-block;
        font-size: 16px;
        width: 70%;
        margin-top: -65px;
        vertical-align: middle;
      }

      ion-item {
        display: inline-block !important;
        max-width: 20% !important;
        background-color: transparent;
        padding-left: 0;
        ion-avatar ion-img, ion-avatar ion-img img {
          width: 50px !important;
          height: 50px !important;
          border: 1px solid white;
        }
      }
    }

  }
  .news-image,
  .news-image img{
    width: 100%;
    height:100%;
    min-width: 100px;
    min-height: 100px;
  }

}

