<!--
  Generated template for the AddCompetitionEntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Új verseny kiirás</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="addCompetitionEntry()">Megosztás</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-12>
      <ion-label>Verseny neve</ion-label>
      <ion-input placeholder="Név..." type="text" [(ngModel)]="name"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-label>Verseny helyszine</ion-label>
      <ion-input placeholder="Helyszin..." type="text" [(ngModel)]="location"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-textarea rows="5" maxLength="500" placeholder="Információ..." [(ngModel)]="info"></ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-label>Link</ion-label>
      <ion-textarea  rows="1" maxLength="1000" placeholder="Link..." [(ngModel)]="link"></ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-label>Link</ion-label>
      <ion-textarea  rows="1" maxLength="1000" placeholder="Broadcast Link..." [(ngModel)]="bclink"></ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-label>Válassz csapatot</ion-label>
      <ion-select [(ngModel)]="selectedTeam">
        <ion-option *ngFor="let team of selectTeamList">{{ team }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>

</ion-content>
