<!--
  Generated template for the profilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Játékos profil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row id="profileHeader">
    <ion-col col-12>
      <ion-item no-lines>
        <ion-avatar slot="start">
          <ion-img [src]="profile.profilePic"></ion-img>
        </ion-avatar>
      </ion-item>
      <h4>{{profile.lastName}} {{profile.firstName}}</h4>
    </ion-col>
  </ion-row>
  <ion-row id="profileDetails">
    <ion-col col-12>
      <p>Username: {{profile.username}}</p>
      <p>Játszott játékok:</p>
      <ul *ngFor="let game of profile.gameDetails">
        <li>{{game.game.name}}</li>
        <ul *ngIf="hasTeamInGame(game.game)">
          <li>{{ getTeamOfGame(game.game) }}</li>
        </ul>
      </ul>
    </ion-col>
  </ion-row>
</ion-content>
