page-player-profile {
  ion-content {
    ion-row#profileHeader {
      text-align: center;
      ion-col {
        ion-item {
          background-color: transparent;
          padding-left: 15px;
          max-width: 130px;
          margin: auto;
          ion-avatar ion-img, ion-avatar ion-img img {
            width: 100px !important;
            height: 100px !important;
            border: 1px solid white;
          }
        }
      }
    }
  }
}
