<!--
  Generated template for the TrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edzések</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row style="text-align: right">
    <ion-col>
      <button ion-button float-right (click)="newTraining()">Új edzés létrehozása</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 *ngFor="let training of trainings">
      <ion-card>
        <ion-card-header style="border-bottom: 1px solid #c8c8c8;">
          <ion-card-title>
            <div style="font-size: 20px;">{{ capitalize(training.info) }}</div>
            <div style="font-size: 16px; color: #333;">{{getNameOfTeam(training.teamId)}}</div>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Időpont: {{ setDate(training.date) }}</p>
          <p>Edzés tipusa: {{ training.trainingType }}</p>
          <p>Jelenlegi státuszod: {{ getStatus(training) }}</p>
        </ion-card-content>
        <ion-row class="cardfooter">
          <ion-buttons>
            <button ion-button small (click)="setStatus(training, 'ACCEPTED')">Ott leszek! ;)</button>
            <button ion-button small clear (click)="setStatus(training, 'REJECTED')">Nem megyek :(</button>
          </ion-buttons>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
